transformers
# unsloth
accelerate
pillow
numpy
pandas
sentence-transformers
scikit-learn
ipykernel==6.30.1
kaggle
jupyter
ipywidgets
nltk
openpyxl
datasets
torch
trl
peft
python-Levenshtein
tqdm
pyyaml
wandb
